* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #d1b3ff;
    --secondary-color: #c299ff;
    --tertiary-color: #0a001a;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../assets/images/Space.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}
header h1 {
    text-shadow: 3px 3px 3px #0a001a ;
    font-weight: normal;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a:hover {
    background: var(--secondary-color) ;
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
body {
    color: var(--primary-color);
    font-family: "Courier New (monospace)";
    background-image: url(../assets/images/Space.PNG) ;
    background-size: cover;
    background-position: 100%;
    background-attachment: scroll;
}
.font-effect-neon h2 {
    font-weight:bolder;
    color: #1f004d;
}
section {
margin: 50px auto;
padding-bottom: 50px;
border-bottom: 1px solid var(--tertiary-color);
width: 90%;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
}
article {
    flex: 200px;
    flex: 1;
}
.info p {
    margin: 0 auto;
    display: flex;
    align-content: right;
    justify-content:space-evenly;
    margin: 20px;
}
.selfie {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.projects, .art, .js, .run-buddy, .game {
 width:150px;
height:150px;
border:1px solid black;
 display:flex;
flex-wrap:wrap;
}
.work div {
    column-count:4;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info p, {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-instagram{
    background: #ffffe6;
    color: black;
  }

  footer {
    background: ;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}